@model IEnumerable<Entities.Concrete.ContactInfo>
@{
    ViewData["Title"] = "Index";
}

<h1>Kişiler</h1>
<a class="btn btn-primary mb-3" asp-action="Add">İletişim Bilgisi Ekle</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>#Id</td>
            <td>İsim Soyisim</td>
            <td>Telefon Numarası</td>
            <td>Email Adresi</td>
            <td>Konum</td>
            <td>İşlemler</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.DirectoryId</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Email</td>
                <td>@item.Location</td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.DirectoryId" class="badge badge-success">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@item.DirectoryId" class="badge badge-danger">Sil</a>
                    <a asp-action="GetDetails" asp-route-id="@item.DirectoryId" class="badge badge-primary">Detay Göster</a>
                </td>
            </tr>
        }
    </tbody>
</table>
